.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  margin: 12px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  color: #212121;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__footer {
  display: flex;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/like.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  margin-top: auto;
  cursor: pointer;
  opacity: 0.4;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    max-width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 260px;
  }
}
