.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0%;
  line-height: 24px;
  margin: 12px 0 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/like.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  filter: brightness(0) saturate(100%) invert(13%) sepia(4%) saturate(0%)
    hue-rotate(178deg) brightness(89%) contrast(88%);
  margin-top: auto;
  cursor: pointer;
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    max-width: 288px;
  }
}
